<section class="user-details-wrapper">
  <div class="user-details">
    <h1>User details</h1>

    <div class="user-details-inner">
      <p class="user-id details-paragraph">User Id : {{user.userId}}</p>
      <p class="user-userRoleId details-paragraph">Role Id : {{user.userRoleId}}</p>
      <p class="user-name details-paragraph">Name : {{user.name}}</p>
      <p class="user-lastname details-paragraph">LastName : {{user.lastName}}</p>
      <p class="user-age details-paragraph">Age : {{user.age}}</p>
      <p class="user-email details-paragraph">Email : {{user.email}}</p>
      <p class="user-phoneNumber details-paragraph">Phone number : {{user.phoneNumber}}</p>
      <p class="user-balance details-paragraph">Balance : {{user.balance}}₾</p>
      <p class="user-registrationDate details-paragraph">Registration date : {{user.registrationDate}}</p>
      <p class="user-isVerified details-paragraph">Verified : {{user.isVerified}}</p>
    </div>

    <h1>User transaction details</h1>

    <div class="transaction" *ngFor="let transaction of transactions">

      <div class="table-scroll-container">
        <h3>Transaction</h3>
        <table class="user-data-table">
          <thead>
            <tr class="sticky-header-row">
              <th>Transaction id</th>
              <th>Transaction state</th>
              <th>Transaction amount</th>
              <th>Transaction date</th>
            </tr>
            <tr>
              <th>{{transaction.transactionId}}</th>
              <th>{{transaction.transactionState}}</th>
              <th>{{transaction.transactionAmount}}₾</th>
              <th>{{transaction.transactionDate}}</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <div class="table-scroll-container">
        <h3>Credit card</h3>
        <table class="user-data-table">
          <thead>
            <tr class="sticky-header-row">
              <th>Credit card id</th>
              <th>Credit card number</th>
              <th>Expiration date</th>
              <th>CVV</th>
            </tr>
            <tr>
              <th>{{transaction.creditCard.creditCardId}}</th>
              <th>{{transaction.creditCard.creditCardNumber}}</th>
              <th>{{transaction.creditCard.expirationDate}}</th>
              <th>{{transaction.creditCard.cvv}}</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <div class="table-scroll-container">
        <h3>Seat</h3>
        <table class="user-data-table">
          <thead>
            <tr class="sticky-header-row">
              <th>Seat id</th>
              <th>Seat vagon id</th>
              <th>Seat number</th>
              <th>Seat price</th>
              <th>Seat status</th>
            </tr>
            <tr>
              <th>{{transaction.seat.seatId}}</th>
              <th>{{transaction.seat.vagonId}}</th>
              <th>{{transaction.seat.seatNumber}}</th>
              <th>{{transaction.seat.seatPrice}}₾</th>
              <th>{{transaction.seat.seatStatusId}}</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>

      <div class="table-scroll-container">
        <h3>Active train schedules</h3>
        <table class="user-data-table">
          <thead>
            <tr class="sticky-header-row">
              <th>Departure</th>
              <th>Departure date</th>
              <th>Arrival</th>
              <th>Arrival date</th>
            </tr>
            <tr>
              <th>{{transaction.trainSchedule.departureFrom}}</th>
              <th>{{transaction.trainSchedule.departureDate}}</th>
              <th>{{transaction.trainSchedule.arrivalAt}}</th>
              <th>{{transaction.trainSchedule.arrivalDate}}</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>


  </div>
</section>
