<section class="log-in-section">

    <div class="log-in-left">
        <h2>Admin</h2>

        <form action="">
            <h1>Log in to admin</h1>
            <p>Please enter your details</p>

            <div class="email-input-wrapper">
                <p>Email</p>
                <input type="text" placeholder="admin@example.com">
            </div>

            <div class="email-input-wrapper">
                <p>Password</p>
                <input type="text" placeholder="admin/.">
            </div>
        </form>

        <h6>© copyright 2024</h6>
    </div>
</section>