<section class="manage-trains-wrapper">
  <div class="manage-trains">
      <h1>Manage trains</h1>

      <div class="train-managing-utilities">
        <!-- <div class="utility-actions">
          <button class="add-train utility-action gen">
            <i class="bi bi-plus-lg"></i>
          </button>

          <button class="filter-search utility-action rb">
            <i class="bi bi-filter-square"></i>
          </button>
        </div> -->

        <form class="train-search-wrapper" (ngSubmit)="searchTrain()" [formGroup]="filterForm">
          <input formControlName="trainName" class="search-train-input lb" type="text" placeholder="Train name...">
          <input formControlName="trainNumber" class="search-train-input nb bl" type="text" placeholder="Train number...">
          <input formControlName="departureFrom" class="search-train-input nb bl" type="text" placeholder="Departure Station...">
          <input formControlName="arrivalAt" class="search-train-input nb bl" type="text" placeholder="Arrival Station...">
          <ejs-datepicker class="time search-train-input nb bl" (change)="onDateChangeDeparture($event)" placeholder="Departure"></ejs-datepicker>
          <ejs-datepicker [cssClass]="'e-custom-style'" (change)="onDateChangeArrival($event)" class="time search-train-input nb bl" placeholder="Arrival"></ejs-datepicker>
          <button class="search-train-button" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>

      <div class="table-scroll-container">
        <table class="train-data-table">
          <thead>
            <tr class="sticky-header-row">
              <th>Id</th>
              <th>Name</th>
              <th>Number</th>
              <th>Departure</th>
              <th>Arrival</th>
              <th>Manage</th> </tr>
          </thead>
          <tbody>
            <tr class="data-tr" *ngFor="let train of filteredTrains">
              <td>{{train.trainId}}</td>
              <td>{{train.trainName}}</td>
              <td>{{train.trainNumber}}</td>
              <td>
                <div *ngIf="train.departureFrom.length > 0">{{train.departureFrom}} : </div>
                <div *ngIf="train.departureDate != null">{{train.departureDate}}</div>
                <div *ngIf="train.departureFrom.length == 0 && train.departureDate == null">Unscheduled</div>
              </td>
              <td>
                <div *ngIf="train.arrivalAt.length > 0">{{train.arrivalAt}} : </div>
                <div *ngIf="train.arrivalDate != null">{{train.arrivalDate}}</div>
                <div *ngIf="train.arrivalAt.length == 0 && train.arrivalDate == null">Unscheduled</div>
              </td>
              <td class="utilities-td">
                <button (click)="removeTrain(train.trainId)" class="delete-train-button">Delete</button>
                <button class="edit-train-button">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

</section>
