<aside>
    <a class="dashboard sidebar-utility" routerLink="/dashboard">
        <div class="left-border-animation-div"></div>
        <i class="bi bi-clipboard-data"></i>
        <p class="utility-type">Dashboard</p>
    </a>
    <a class="chats sidebar-utility" routerLink="/chats">
        <div class="left-border-animation-div"></div>
        <i class="bi bi-chat-square-quote"></i>
        <p class="utility-type">Chats</p>
    </a>
    <a class="compose sidebar-utility" routerLink="/compose">
        <div class="left-border-animation-div"></div>
        <i class="bi bi-pencil-square"></i>
        <p class="utility-type">Compose</p>
    </a>
    <a class="check-ticket-validity sidebar-utility" routerLink="/validate-ticket">
        <div class="left-border-animation-div"></div>
        <i class="bi bi-ticket-perforated"></i>
        <p class="utility-type">Validate ticket</p>
    </a>


    <a class="log-out sidebar-utility" routerLink="/log-in">
        <div class="left-border-animation-div"></div>
        <i class="bi bi-box-arrow-right"></i>
        <p class="utility-type">To log-in</p>
    </a>
</aside>